.avatar-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;

  li {
    margin: 0 5px 5px 0;

    .el-radio {
      display: flex;
      align-items: center;

      img {
        width: 40px;
        border-radius: 5px;
      }
    }
  }
}