.actions {
  .account-actions {
    margin-top: 20px;
  }

  .el-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .el-input__inner {
      padding: 0 10px;
    }

    .mail_code-boxer {
      display: flex;
      margin-top: 10px;

      .fill-mail-code {
        width: 70%;
        margin-right: 10px;
      }

      .send_code_button {
        width: 30%;
        padding: 0;
        background-color: #66B1FF;
        border: none;
        color: #FFFFFF;

        span {
          &：hover {
            color: #FFFFFF;
          }
        }

        &：hover {
          color: #FFFFFF;
        }
      }
    }
  }
}