//.actions {
//  margin-top: 20px;
//
//  table {
//    width: 100%;
//    //border-radius: 5px;
//    margin: 0;
//    padding: 0;
//    border: none;
//    outline: none;
//    border-collapse: collapse;
//    -webkit-border-horizontal-spacing: 0;
//    -webkit-border-vertical-spacing: 0;
//
//    tbody {
//      width: 100%;
//      //background-color: #5A9CF8;
//      border: none;
//      padding: 0;
//      outline: none;
//
//
//      tr {
//        &:first-child {
//          border-radius: 5px;
//
//
//          th {
//            padding: 5px 0;
//            border: none;
//            background-color: #5A9CF8;
//            color: #FFFFFF;
//          }
//
//        }
//
//        //border-bottom: 1px solid #62656B;
//      }
//
//
//      td {
//        text-align: center;
//        color: #62656B;
//        line-height: 1.2em;
//      }
//    }
//
//
//  }
//
//}
.actions {
  margin-top: 20px;

  p {
    margin-bottom: 5px;
  }
}

.collection_table {
  width: 100%;
  border-spacing: 1px;
  //border-radius: 5px;
  overflow: hidden;
  //border-top: 1px solid #a0b1c5;


  tr {

  }


  thead {
    padding: 0 10px;

    tr {
      color: #333;
      font-weight: 600;
      height: 50px;
      background-color: white;

      th {

      }
    }
  }

  tbody {
    tr {
      height: 40px;
      font-size: 14px;
      transition: all 0.3s;


      td {
        text-align: center;

        a {
          color: #304156;
        }
      }

      .select {
        input {
          cursor: pointer;
        }
      }

      .tags {
        i {
          margin-right: 5px;
          padding: 0 5px;
          color: white;
          border-radius: 5px;
          font-size: 12px;
          height: 20px;
          display: inline-flex;
          align-items: center;
        }

        i:nth-child(4n) {
          background-color: #ff9800;
        }

        i:nth-child(4n+1) {
          background-color: #dd6161;
        }

        i:nth-child(4n+2) {
          background-color: #26c6da;
        }

        i:nth-child(4n+3) {
          background-color: #3a8ee6;
        }

        i:last-child {
          margin-right: 0;
        }
      }
    }

    tr:nth-of-type(odd) {
      background-color: #F6F7F8;


      &:hover {
        background-color: #E6F4FC;
      }
    }

    tr:nth-of-type(even) {
      background-color: #fff;

      &:hover {
        background-color: #eceff5;
      }
    }
  }

}

.hint-sentence {
  font-size: 14px;
}

.cancel-bt {
  margin-top: 10px;
  background-color: #5A9CF8;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  color: #FFFFFF;
  font-size: 14px;
}

//.no-articles {
//  margin: 0 auto;
//}