body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #333333;
}


p {
    margin: 0;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


ul, ol {
    margin: 0;
    padding: 0;
}

.flexing {
    display: flex;
}

input {
    resize: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

ul {
    list-style: none;
}